OnlineBanking/onlineBanking-api/src/OnlineBanking/OnlineBanking/bin/*
OnlineBanking/onlineBanking-api/src/OnlineBanking/OnlineBanking/obj/*
OnlineBanking/onlineBanking-api/src/OnlineBanking/OnlineBanking.BLL/bin/*
OnlineBanking/onlineBanking-api/src/OnlineBanking/OnlineBanking.BLL/obj/*
OnlineBanking/onlineBanking-api/src/OnlineBanking/OnlineBanking.Core/bin/*
OnlineBanking/onlineBanking-api/src/OnlineBanking/OnlineBanking.Core/obj/*
OnlineBanking/onlineBanking-api/src/OnlineBanking/OnlineBanking.DAL/bin/*
OnlineBanking/onlineBanking-api/src/OnlineBanking/OnlineBanking.DAL/obj/*